$white-color: #fff;
$black-color: #000;

$primary-color: #ca3233;
$primary-color-light: rgba(202, 50, 51, 0.2);
$disabled-color: rgba(202, 50, 51, 0.5);
$box-shadow-color: rgba(202, 50, 51, 0.3);
$button-shadow-color: rgba(202, 50, 51, 0.38);
$hover-color: rgba(202, 50, 51, 0.08);

$heading-text: #475466;
$body-text: #5c6777;
$placeholder-text: #adb3bb;
$muted-text: #99a0aa;

$red-color: #ea5455;
$green-color: #28c76f;
$blue-color: #007bff;

$default-transition: all ease-in-out 0.3s;
